{% extends 'instructeur.html.twig' %}

{% block content %}
    <div class="container">
        <h2>Deelnemerslijst - {{ les.training.name }}</h2>
        <table class="table">
            <thead>
            <tr>
                <th class="scope">Voornaam</th>
                <th class="scope">Tussenvoegsel</th>
                <th class="scope">Achternaam</th>
                <th class="scope">Geboorte datum</th>
                <th class="scope">Postcode</th>
                <th class="scope">Plaats</th>
            </tr>
            </thead>
            <tbody>
            {% for deelnemer in deelnemers %}
                <tr>
                    <td>{{ deelnemer.firstname }}</td>
                    <td>{{ deelnemer.preprovision }}</td>
                    <td>{{ deelnemer.lastname }}</td>
                    <td>{{ deelnemer.dateofbirth|date('d-m-Y') }}</td>
                    <td>{{ deelnemer.postalcode }}</td>
                    <td>{{ deelnemer.place }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}