{% extends 'instructeur.html.twig' %}

{% block content %}
    {% for msg in app.session.flashBag.get('success') %}
        <div class="alert alert-success">
            {{ msg }}
        </div>
    {% endfor %}
    <div class="container">
        <h2>Welkom - les beheer </h2>
        <ul>
        {% for les in lesson %}

            <div class="row trainingBeheer">
                <div class="col-1">{{ les.training.name }}</div>
                <div class="col-1">lokaal {{ les.location }}</div>
                <div class="col-1 ">{{ les.maxpersons }}</div>
                <div class="col-2">{{ les.date|date("d-m-y") }}</div>
                <div class="col-1">{{ les.time|date("H:i") }}</div>
                <div class="col-2">
                    <a href="{{ path('deelnemerslijst',{'id': les.id}) }}">
                        <i class="fas fa-users fa-2x"></i>
                    </a>
                </div>
                <div class="col-2">
                    <a href="{{ path('leswijzigen',{'id': les.id}) }}">
                        <i class="fas fa-edit fa-2x"></i>
                    </a>
                </div>
                <div class="col-2">
                    <a href="{{ path('lesverwijderen', {'id': les.id}) }}">
                        <i class="fas fa-trash-alt fa-2x"></i>
                    </a>
                </div>
            </div>

        {% endfor %}
            <a href="{{ path('lestoevoegen')}}">les toevoegen</a>
        </ul>
    </div>
{% endblock %}