{% extends 'instructeur.html.twig' %}

{% block content %}
    <div class="container">
        <h2>Welkom - les toevoegen</h2>
        {{ form_start(lesform, {'attr': {"novalidate":"novalidate"}}) }}
        {{ form_widget(lesform) }}
        {{ form_end(lesform) }}
    </div>
{% endblock %}