{% extends 'instructeur.html.twig' %}

{% block content %}
    <div class="container">
        <h2>Welkom - les wijzigen</h2>
        <ul>
            {{ form_start(lesform) }}
            {{ form_widget(lesform) }}
            {{ form_end(lesform) }}
            {#<a href="{{ path('lestoevoegen')}}">les toevoegen</a>#}
        </ul>
    </div>
{% endblock %}