{% extends 'admin.html.twig' %}

{% block content %}
    {% for msg in app.session.flashBag.get('success') %}
        <div class="alert alert-success">
            {{ msg }}
        </div>
    {% endfor %}
    <div class="container">
        <h2>Welkom - Instructeur beheer</h2>
        {#{% for instructeur in instructeurs %}#}
            {#<div class="row trainingBeheer">#}
                {#<div class="col-2">{{ instructeur.firstname }}</div>#}
                {#<div class="col-4 col-sm-6 ellipsis">{{ instructeur.lastname }}</div>#}
                {#<div class="col-3 col-sm-2">{{ instructeur.street }}</div>#}
                {#<div class="col-1">#}
                    {#<a href="{{ path('instructeurwijzigen',{'id': instructeur.id}) }}">#}
                        {#<i class="fas fa-edit fa-2x"></i>#}
                    {#</a>#}
                {#</div>#}
                {#<div class="col-1">#}
                    {#<a href="{{ path('instructeurverwijderen', {'id': instructeur.id}) }}">#}
                        {#<i class="fas fa-trash-alt fa-2x"></i>#}
                    {#</a>#}
                {#</div>#}
            {#</div>#}
        {#{% endfor %}#}
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Voornaam</th>
                <th scope="col">Achternaam</th>
                <th scope="col">Straat</th>
                <th scope="col">Wijzigen</th>
                <th scope="col">Verwijderen</th>
            </tr>
            <tbody>
            {% for instructeur in instructeurs %}
            <tr>
                <td>{{ instructeur.firstname }}</td>
                <td>{{ instructeur.lastname }}</td>
                <td>{{ instructeur.street }}</td>
                <td>
                    <a href="{{ path('instructeurwijzigen', {'id': instructeur.id}) }}">
                        <i class="fas fa-edit fa-2x"></i>
                    </a>
                </td>
                <td>
                    <a href="{{ path('instructeurverwijderen', {'id': instructeur.id}) }}">
                        <i class="fas fa-trash-alt fa-2x"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
            </thead>
        </table>
        <a class="btn btn-primary" href="{{ path('instructeurtoevoegen') }}" role="button">Instructeur toevoegen</a>


    </div>
{% endblock %}