{% extends 'admin.html.twig' %}

{% block content %}
    <div class="container">
        <h2>Welkom - Instructeur toevoegen</h2>
        <div class="row">
            <div class="col-sm-12">
                <h1>Toevoegen</h1>
                {{ form_start(InstructeurForm,{'attr': {'novalidate': 'novalidate'} }) }}
                {{ form_widget(InstructeurForm) }}
                {{ form_end(InstructeurForm) }}
            </div>
        </div>
    </div>
{% endblock %}