{% extends 'admin.html.twig' %}

{% block content %}
    <div class="container">
        <h2>Welkom - Instructeur wijzigen</h2>
        <div class="row">
            <div class="col-sm-12">
                <h1>Wijzigen</h1>
                {{ form_start(instructeurForm,{'attr': {'novalidate': 'novalidate'} }) }}
                {{ form_widget(instructeurForm) }}
                {{ form_end(instructeurForm) }}
            </div>
        </div>
    </div>
{% endblock %}