{% extends 'admin.html.twig' %}

{% block content %}
    {% for msg in app.session.flashBag.get('success') %}
        <div class="alert alert-success">
            {{ msg }}
        </div>
    {% endfor %}
    <div class="container">
        <h2>Welkom - Training beheer</h2>
        {% for training in trainingen %}
            <div class="row trainingBeheer">
                <div class="col-2">{{ training.name }}</div>
                <div class="col-5 ellipsis">{{ training.description }}</div>
                <div class="col-2">{{ training.duration }} min</div>
                <div class="col-1">€{{ training.price }}</div>
                <div class="col-1">
                    <a href="{{ path('trainingwijzigen', {'id': training.id}) }}">
                        <i class="fas fa-edit fa-2x"></i>
                    </a>
                </div>
                <div class="col-1">
                    <a href="{{ path('trainingverwijderen', {'id': training.id}) }}">
                        <i class="fas fa-trash-alt fa-2x"></i>
                    </a>
                </div>
            </div>
        {% endfor %}
        {#<table class="table">#}
            {#<thead>#}
            {#<tr>#}
                {#<th class="col">Naam</th>#}
                {#<th class="col">Omschrijving</th>#}
                {#<th class="col">Tijdsduur</th>#}
                {#<th class="col">Wijzigen</th>#}
                {#<th class="col">Verwijderen</th>#}
            {#</tr>#}
            {#</thead>#}
            {#<tbody>#}
            {#{% for training in trainingen %}#}
            {#<tr>#}
                {#<td>{{ training.name }}</td>#}
                {#<td class="ellipsis">{{ training.description }}</td>#}
                {#<td>{{ training.duration }} minuten</td>#}
                {#<td>#}
                    {#<a href="{{ path('trainingwijzigen', {'id': training.id}) }}">#}
                        {#<i class="fas fa-edit fa-2x"></i>#}
                    {#</a>#}
                {#</td>#}
                {#<td>#}
                    {#<a href="{{ path('trainingverwijderen', {'id': training.id}) }}">#}
                        {#<i class="fas fa-trash-alt fa-2x"></i>#}
                    {#</a>#}
                {#</td>#}
            {#</tr>#}
            {#{% endfor %}#}
            {#</tbody>#}
        {#</table>#}
        <a class="btn btn-primary" href="{{ path('trainingtoevoegen') }}" role="button">Training toevoegen</a>
    </div>
{% endblock %}