{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-2 d-none d-sm-block">
                <img class="logo" src="{{  asset('img/logo.png') }}">
            </div>
            <div class="col-12 col-sm-8">
                <a class="navbar-brand logo-title" href="{{ path('lessenoverzicht') }}">Training Factory</a>
            </div>
        </div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="{{ path('ledenbeheer') }}">Leden beheer</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ path('instructeurbeheer') }}">Instructeur beheer</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ path('trainingbeheer') }}">Training beheer</a></li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="{{ path('logout') }}">Uitloggen</a></li>
                </ul>
            </div>
        </nav>

    </div>

        {% block content %}{% endblock %}


{% endblock %}