{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-2 d-none d-sm-block">
                <img class="logo" src="{{  asset('img/logo.png') }}">
            </div>
            <div class="col-12 col-sm-8">
                <a class="navbar-brand logo-title" href="{{ path('lessenoverzicht') }}">Training Factory</a>
            </div>
        </div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="{{ path('aanbod') }}">Aanbod</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ path('registeren') }}">Inschrijven</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ path('regels') }}">Gedragregels</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ path('contact') }}">Contact</a></li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="{{ path('login') }}">Inloggen</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="container">
        {% block content %}{% endblock %}
    </div>


{% endblock %}