{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-2 d-none d-sm-block">
                <img class="logo" src="{{  asset('img/logo.png') }}">
            </div>
            <div class="col-12 col-sm-8">
                <a class="navbar-brand logo-title" href="{{ path('homeInstructeur') }}">Training Factory</a>
            </div>
        </div>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="{{ path('lessenbeheer') }}">Lessen beheer</a></li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="{{ path('logout') }}">Uitloggen</a></li>
                </ul>
            </div>


        </nav>
    </div>

    <div class="container">
        {% block content %}{% endblock %}
    </div>

{% endblock %}