{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div>
                <img class="logo" src="{{  asset('img/logo.png') }}">
            </div>
            <div>
                <a class="navbar-brand logo-title" href="{{ path('homeLid') }}">Training Factory</a>
            </div>
        </div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="{{ path('homeLid') }}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ path('lesaanbod') }}">Inschrijven voor les</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ path('lidwijzigen') }}">Gegevens wijzigen</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ path('wachtwoordwijzigen') }}">wachtwoord wijzigen</a></li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="{{ path('logout') }}">Uitloggen</a></li>
                </ul>
            </div>
        </nav>

    </div>

    <div class="container">
        {% block content %}{% endblock %}
    </div>

{% endblock %}