{% extends 'bezoeker.html.twig' %}

{% block content %}
    <div class="container">
        <h2>Welkom - Aanbod</h2>
        {% for training in trainingen %}
            <div class="row aanbod">
                <div class="col-sm-2">
                    <img class="img-fluid"src="{{ asset('img/')}}{{ training.photo }}" />
                </div>
                <div class="col-sm-2">
                    <p>{{ training.name }}</p>
                </div>
                <div class="col-sm-6">
                    <p>{{ training.description }}</p>
                </div>
                <div class="col-sm-2">
                    <p>{{ training.duration }} minuten</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}