{% extends 'bezoeker.html.twig' %}

{% block content %}
    <div class="container">
        <h2>Welkom - Contact</h2>
        <div class="row">
            <div class="col sm-6">
                <ul>
                    <li>training centrum den haag</li>
                    <li>christiaanlaan 51b</li>
                    <li><a href="tel:+0155190532">015 519 0532</a></li>
                    <li><a href="mailto:administratie@trainingcentrumdenhaag.nl">administratie@trainingcentrumdenhaag.nl</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}