{% extends 'bezoeker.html.twig' %}

{% block content %}
    <form action="{{ path('login') }}" method="post">
        <div class="form-group">
            <label for="username">Gebruikersnaam</label>
            <input type="text" class="form-control" id="username" name="_username" placeholder="Voer een gebruikernaam in"/>
        </div>
        <div class="form-group">
            <label for="password">Wachtwoord</label>
            <input type="password" class="form-control" id="password" name="_password" placeholder="Voer een wachtwoord in"/>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
    </form>
{% endblock %}