{% extends 'bezoeker.html.twig' %}

{% block content %}
    <div class="container">
        <h2>Welkom - Gedragregels</h2>
        <ul>
            <li>Eten en drinken wordt in de bar gedaan.</li>
            <li>Niet naakt uit de kleedkamer komen.</li>
            <li>Dieren zijn niet toegestaan.</li>
            <li>Het gebruik van doping en stimulerende middelen is verboden.</li>
            <li>Het gebruik van slecht onderhouden en/of onveilige materialen en hulpmiddelen is verboden</li>
            <li>Geldt zowel voor de materialen en hulpmiddelen van de organisatie als die van de sporter.</li>
            <li>Er is respect voor onze partner (en zijn / haar niveau).</li>
            <li>We zijn altijd sportief ook al zijn anderen dat niet.</li>
            <li>Iedereen draagt tijdens de training voldoende beschermingsmaterialen om letsel en een kwetsuur te voorkomen.</li>
            <li>Het lid is verplicht zijn of haar gezondheidstoestand toe te lichten, mocht dit een negatieve invloed.</li>
            <li>Sieraden, piercings e.d. die letselrisico opleveren voor de drager of anderen worden verwijderd, dan wel afgeplakt.</li>
            <li>Discriminatie, schelden, grof taalgebruik, treiteren, pesten, irriteren of kwetsen van wie dan ook wordt niet geaccepteerd, deze gedragsregels gelden ook voor social media en kunnen aanleiding zijn voor sancties.</li>
            <li>Vechten gebeurt alleen op de mat of in de ring, en nooit op straat. De technieken die je worden aangeleerd mogen alleen worden gebruikt ter verdediging van jezelf of anderen. Je mag nooit je vechttechnieken gebruiken tegen iemand die zich niet kan verdedigen.</li>
            <li>Het gebruik van mobiele telefoon of het aanstaan van een mobiele telefoon is verboden in de oefenzaal en tijdens de lessen.</li>
            <li>Het is ten strengste verboden te roken in het gebouw.</li>
            <li>Je bent bij de training minimaal 5 à 10 minuten voor aanvang aanwezig.</li>
            <li>Je beschikt over een goede lichamelijke hygiëne zoals korte en schone nagels, frisse adem etc.</li>
            <li>Het gebruik van doping en stimulerende middelen is verboden.</li>
        </ul>
    </div>
{% endblock %}