{% extends 'bezoeker.html.twig' %}

{% block content %}
    <div class="container">
        <h2>Welkom - Inschrijven</h2>
        <div class="row">
            <div class="col-sm-12">
                <h1>Inschrijven</h1>
                {{ form_start(userForm,{'attr': {'novalidate': 'novalidate'} }) }}
                {{ form_widget(userForm) }}
                <button type="submit" class="btn btn-primary">Inschrijven</button>
                {{ form_end(userForm) }}
            </div>
        </div>
    </div>
{% endblock %}