html, body {
    height: 100%;
}

.logo {
    width: 100%;
    display: block;
    margin: 5px 50px 5px 50px;
    max-width: 200px;
}


.logo-title {
    margin-top: 20px;
    width:100%;
    text-align: center;
    font-size: 46px!important;
}
.logo-title-small{
    font-size: 20px !important;
}

.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;

}

.container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.footer {
    width: 100%;
    text-align: center;
    background-color: #eeeeee;
}


.aanbod {
    margin: 5px 0;
}

.trainingBeheer{
    margin: 20px 0 20px 0;
}

.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

