{% extends 'admin.html.twig' %}

{% block content %}
    {% for msg in app.session.flashBag.get('success') %}
        <div class="alert alert-success">
            {{ msg }}
        </div>
    {% endfor %}
    <div class="container">
        <h2>Welkom - Leden beheer</h2>
        {#{% for lid in leden %}#}
            {#<div class="row">#}
                {#<div class="col-3 col-sm-2">{{ lid.firstname }}</div>#}
                {#<div class="col-3 col-sm-2">{{ lid.preprovision }}</div>#}
                {#<div class="col-3 col-sm-2">{{ lid.lastname }}</div>#}
                {#<div class="col-sm-2 d-none d-sm-block">{{ lid.postalcode }}</div>#}
                {#<div class="col-sm-2 d-none d-sm-block">{{ lid.place }}</div>#}
                {#<div class="col-1">#}
                    {#<a href="{{ path('lidwijzigen',{'id': lid.id}) }}">#}
                        {#<i class="fas fa-edit fa-2x"></i>#}
                    {#</a>#}
                {#</div>#}
                {#<div class="col-1">#}
                    {#<a href="{{ path('lidverwijderen',{'id': lid.id}) }}">#}
                        {#<i class="fas fa-trash-alt fa-2x"></i>#}
                    {#</a>#}
                {#</div>#}
            {#</div>#}
        {#{% endfor %}#}
        <table class="table">
            <thead>
            <tr>
                <th class="scope">Voornaam</th>
                <th class="scope">Tussenvoegsel</th>
                <th class="scope">Achternaam</th>
                <th class="scope">Postcode</th>
                <th class="scope">Plaats</th>
                <th class="scope">Wijzigen</th>
                <th class="scope">Verwijderen</th>
            </tr>
            </thead>
            <tbody>
            {% for lid in leden %}
            <tr>
                <td>{{ lid.firstname }}</td>
                <td>{{ lid.preprovision }}</td>
                <td>{{ lid.lastname }}</td>
                <td>{{ lid.postalcode }}</td>
                <td>{{ lid.place }}</td>
                <td>
                    <a href="{{ path('lidwijzigen', {'id': lid.id}) }}">
                        <i class="fas fa-edit fa-2x"></i>
                    </a>
                </td>
                <td>
                    <a href="{{ path('lidverwijderen', {'id': lid.id}) }}">
                        <i class="fas fa-trash-alt fa-2x"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}