{% extends 'lid.html.twig' %}

{% block content %}
    {% for msg in app.session.flashBag.get('success') %}
        <div class="alert alert-success">
            {{ msg }}
        </div>
    {% endfor %}
    <div class="container">
        <h2>Welkom - Lid Home</h2>
    </div>
{% endblock %}