{% extends 'lid.html.twig' %}

{% block content %}
    {% for msg in app.session.flashBag.get('success') %}
        <div class="alert alert-success">
            {{ msg }}
        </div>
    {% endfor %}
    <div class="container">
        <h2>Welkom - Inschrijven voor lessen</h2>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Les</th>
                <th scope="col">Datum</th>
                <th scope="col">Tijd</th>
                <th scope="col">Duur</th>
                <th scope="col">Prijs</th>
                <th scope="col">Max personen</th>
                <th scope="col">Beschikbaar</th>
                <th scope="col">Lokaal</th>
                <th scope="col">Inschrijven</th>
            </tr>
            <tbody>
            {% for les in beschikbareLessons %}
                <tr>
                    <td>{{ les.training.name }}</td>
                    <td>{{ les.date|date("d-m-y") }}</td>
                    <td>{{ les.time|date("H:i") }}</td>
                    <td>{{ les.training.duration }} minuten</td>
                    <td>€ {{ les.training.price }}</td>
                    <td>{{ les.maxpersons }}</td>
                    <td>{{ les.maxpersons - les.users|length }}</td>
                    <td>{{ les.location }}</td>
                    <td>
                        <a href="{{ path('inschrijven', {'id': les.id}) }}">
                            <i class="fas fa-user-plus fa-2x"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            </thead>
        </table>

        <h2>Ingeschreven lessen</h2>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Les</th>
                <th scope="col">Datum</th>
                <th scope="col">Tijd</th>
                <th scope="col">Duur</th>
                <th scope="col">Prijs</th>
                <th scope="col">Max personen</th>
                <th scope="col">Ingeschreven</th>
                <th scope="col">Lokaal</th>
                <th scope="col">Uitschrijven</th>
            </tr>
            <tbody>
            {% for les in IngeschrevenLessons %}
                <tr>
                    <td>{{ les.training.name }}</td>
                    <td>{{ les.date|date("d-m-y") }}</td>
                    <td>{{ les.time|date("H:i") }}</td>
                    <td>{{ les.training.duration }} minuten</td>
                    <td>€ {{ les.training.price }}</td>
                    <td>{{ les.maxpersons }}</td>
                    <td>{{ les.users|length }}</td>
                    <td>{{ les.location }}</td>
                    <td>
                        <a href="{{ path('uitschrijven', {'id': les.id}) }}">
                            <i class="fas fa-user-times fa-2x"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            </thead>
        </table>
    </div>
{% endblock %}