{% extends 'lid.html.twig' %}

{% block content %}
    <div class="container">
        <h2>Welkom - Lid wijzigen</h2>
        {{ form_start(form,  {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}